<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Великий чат</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div id="chat">
  <h2>Великий чат</h2>
  <h4 id="user">Пользователь: </h4>
  <h4 id="room">Комната: </h4>
  <div id="message-box"></div>
  <input type="text" id="message-input" placeholder="Type your message...">
  <button id="send-btn">Send</button>
</div>
<script src="../static/js/main.js"></script>
</body>
</html>